<div id="bx-form-input-hours-input-__uniq_id__" class="bx-form-input-files-reoccurring bx-def-margin-sec-top bx-clearfix">
    <button class="bx-btn bx-btn-small"><bx_text:_mz_listing_form_entry_input_add_hour /></button>
</div>
__info__
__error__
<div id="bx-form-input-hours-forms-__uniq_id__" class="bx-form-input-hours bx-clearfix"></div>
<script>
    $(document).ready(function() {
        __js_instance_name__ = new BxListingHours(__options__);  
        $('#bx-form-input-hours-input-__uniq_id__').on('click', function () {
            __js_instance_name__.addEmptyGhost();
            return false;
        });
        __js_instance_name__.restoreGhosts();
    });
</script>
