 <div class="bx-def-unit bx-def-margin-bottom bx-def-margin-sec-right" style='float:left;width:100%'>
    <div class="bx-def-unit-img"> 
		<img class="bx-base-pofile-unit-thumb bx-def-thumb-size bx-def-thumb-size-size bx-def-border bx-def-box-sizing" src="__thumb_url__" />  
    </div>
    <div class="bx-def-unit-info bx-def-thumb-size-size-left-indent"> 
		<div class="bx-def-unit-line bx-def-font-small bx-def-font-grayed"><a class="bx-def-unit-info-title" href="__author_url__">__author__</a> __caption__ __created__</div>
    </div>
</div>
 
<style>
	.bx-search-result-block {
		text-align: left;
	}
</style>


  