<div class="bx-content-description"> 
    <div class="bx-base-text-entity-content bx-def-constraint-list bx-def-constraint-pre bx-def-constraint-object bx-def-constraint-iframe bx-def-constraint-img bx-def-vanilla-html">
        <bx_if:title>
			<div class="bx-base-text-title-bages">
				<h1>__entry_title__</h1>
				<div class="bx-base-bages-container absolute flex -translate-y-5/4">&nbsp;</div>
			</div>
		</bx_if:title>
        <div class="bx-base-text-text ">__entry_text__</div>
    </div> 
</div>
 