<div class="bx-content-description">
    <bx_if:show_image>
        <div class="bx-base-text-entity-image mb-4 text-center relative flex justify-center items-center">
            <img class="rounded aspect-video object-cover bg-cover" style="background-image:url(__entry_image__);"  src="<bx_icon_url:spacer.gif />"/>
        </div> 
    </bx_if:show_image>
    <div class="bx-base-text-entity-content bx-def-constraint-list bx-def-constraint-pre bx-def-constraint-object bx-def-constraint-iframe bx-def-constraint-img bx-def-vanilla-html">
        <div class="bx-base-text-title-bages">
            <h1>__entry_title__</h1>
            <div class="bx-base-bages-container absolute flex -translate-y-5/4">&nbsp;</div>
        </div>
        <div class="bx-base-text-text ">__entry_text__</div>
    </div> 
</div>
 