<div id="bx-toolbar" class="bx-header bx-def-image-bg-header bx-def-color-bg-header bx-def-border-header bx-shadow-header bx-def-z-index-nav cd-main-header">
    <div class="bx-toolbar-content-hgap bx-def-padding-sec-leftright bx-def-box-sizing">
        <div class="bx-toolbar-content-wrapper bx-content-padding-header">
            <div id="bx-toolbar-content" class="bx-toolbar-content bx-clearfix">
                <div id="bx-menu-toolbar-1-container" class="bx-toolbar-item bx-ti-left">
                    <!-- <a href="#0" class="cd-nav-trigger cd-dropdown-trigger">Menu<span></span></a> -->

                    <bx_menu:sys_toolbar_site />
                </div>
                <div id="bx-logo-container" class="bx-toolbar-item bx-ti-logo">
                    <bx_injection:injection_logo_before />
                        __main_logo__
                    <bx_injection:injection_logo_after />
                </div>
                <div id="bx-menu-main-container" class="bx-toolbar-item bx-ti-menu bx-ti-stretcher">
                    <bx_menu:sys_site />
                </div>
                <div id="bx-menu-toolbar-2-container" class="bx-toolbar-item bx-ti-right cd-nav">
                    <bx_menu:sys_toolbar_member />
                </div>
            </div>
        </div>
    </div>
</div>