<div style="max-width: 300px; max-height: 600px; overflow: hidden auto; text-overflow: ellipsis;">
<bx_repeat:entries>
	<div style="padding: 5px; white-space: nowrap;">
		<bx_if:pic>
			<div style="display: inline-block; vertical-align: top; width: 55px; height: 55px;">
				<a href="__link__"><img src="__url__" style="max-width: 50px;" /></a>
			</div>
		</bx_if:pic>

		<div style="display: inline-block; vertical-align: top;">
			__type__<br /><a href="__link__">__name__</a>
		</div>
	</div>
</bx_repeat:entries>
</div>