<div class="aqb-affiliate-admin-referral-title" id="aqb-affiliate-sponsor-__id__"><b><bx_text:_aqb_affiliate_current_sponsor /></b>: <u>__title__</u></div>
 <div class="aqb-affiliate-admin-referral-content">
     <img title="__title__" src="__thumb__" class="bx-def-thumb bx-def-thumb-size" />
     <button type="button" class="bx-btn bx-btn-primary bx-def-margin-sec-right" onclick="bx_confirm('<bx_text:_aqb_affiliate_remove_item_confirmation />', () => __js_object__.removeReferral(this, __profile__));">
         <bx_text:_aqb_affiliate_remove_referral_button />
     </button>
 </div>
