<div class="aqb-affiliate-banners-info aqb-affiliate-quick-info">
    <span>
        <span><bx_text:_aqb_affiliate_tools_page_banners_invited />:</span>
        <span class="bx-def-font-semibold">__total__</span>
    </span>
    <span>
        <span><bx_text:_aqb_affiliate_tools_page_banners_commission />:</span>
        <span class="bx-def-font-semibold">
            __commissions__
        </span>
    </span>
    <span>
        <span><bx_text:_aqb_affiliate_tools_page_banners_impressions />:</span>
        <span class="bx-def-font-semibold">__impressions__</span>
    </span>
    <span>
        <span><bx_text:_aqb_affiliate_tools_page_banners_clicks />:</span>
        <span class="bx-def-font-semibold">__clicks__</span>
    </span>
</div>