<div class="aqb-affiliate-commissions-fields">
   <bx_if:fiat>
       <span>
            <div class="bx-form-element-wrapper bx-def-margin-top">
                <div class="bx-form-info bx-def-font-grayed bx-def-font-small">__title__</div>
                <div class="bx-form-element">
                     <div class="bx-form-input-wrapper bx-form-input-wrapper-text">
                        <input type="text" name="__name__" value="__default__" class="bx-def-font-inputs bx-form-input-text">
                     </div>
                </div>
            </div>
      </span>
  </bx_if:fiat>
  <bx_if:points>
    <span>
        <div class="bx-form-element-wrapper bx-def-margin-top">
            <div class="bx-form-info bx-def-font-grayed bx-def-font-small">__info_points__</div>
            <div class="bx-form-element">
               <div class="bx-form-input-wrapper bx-form-input-wrapper-text">
                 <input type="text" name="__name_points__" value="__points__" class="bx-def-font-inputs bx-form-input-text">
               </div>
            </div>
        </div>
    </span>
  </bx_if:points>
  <bx_if:credits>
    <span>
        <div class="bx-form-element-wrapper bx-def-margin-top">
            <div class="bx-form-info bx-def-font-grayed bx-def-font-small">__info_credits__</div>
            <div class="bx-form-element">
               <div class="bx-form-input-wrapper bx-form-input-wrapper-text">
                 <input type="text" name="__name_credits__" value="__credits__" class="bx-def-font-inputs bx-form-input-text">
               </div>
            </div>
        </div>
    </span>
  </bx_if:credits>
</div>