<div class="aqb-affiliate-profile-info aqb-affiliate-quick-info">
    <span>
        <span><bx_text:_aqb_affiliate_profile_info_program /></span>
        <span class="aqb-affiliate-profile-info-main bx-def-font-semibold">
            <span>__name__</span>
            <button class="bx-btn bx-btn-small" title="<bx_text:_aqb_affiliate_profile_program_view />" type="button" onclick="__js_object__.viewPrograms();" >
                <i class="sys-icon info"></i>
            </button>
        </span>
    </span>
    <span>
        <span><bx_text:_aqb_affiliate_profile_info_total_referrals /></span>
        <span class="bx-def-font-semibold">__referrals__</span>
    </span>
    <span class="aqb-affiliate-commission">
        <span>
            <bx_text:_aqb_affiliate_profile_info_total_earned_commission />
        </span>
        <span class="bx-def-font-semibold">
           __commissions__
        </span>
    </span>
</div>