<div class="aqb-affiliate-referral-matrix-block">
    <bx_repeat:items>
        <div class="aqb-affiliate-admin-program-item" title="__status__" onclick="__js_object__.viewProfileTree(__user_id__, this);">
                <div>
                    <div class="title">
                        <span>__level__</span>
                    <span>
                        <i class="sys-icon __icon__"></i>
                    </span>
                </div>
                <div class="info">
                  <span><b><bx_text:_aqb_affiliate_referrals_matrix_total />:</b> __total__</span>
                  <span><b><bx_text:_aqb_affiliate_referrals_matrix_directly />:</b> __directly__</span>
                  <span><b><bx_text:_aqb_affiliate_referrals_matrix_spillover />:</b> __spillover__</span>
                </div>
             </div>
         </div>
    </bx_repeat:items>
</div>