<bx_repeat:items>
<div class="aqb-affiliate-admin-referral-item">
    <div class="aqb-affiliate-admin-referral-title">__title__</div>
        <div class="aqb-affiliate-admin-referral-content">
            <img title="__title__" src="__thumb__" class="bx-def-icon-size rounded-full h-auto" />
            <button type="button" class="bx-btn bx-btn-primary bx-def-margin-sec-right" onclick="oAqbAffiliateManageTools.updateReferral(this, __referral__);">
                <bx_text:_aqb_affiliate_add_referral_button />
            </button>
        </div>
    </div>
</bx_repeat:items>