<div class="bx_sys_block_info">
    <div class="infoMain"> 
        <div class="infoText bx-def-margin-sec-top">
 
            <div class="infoUnit infoUnitFontIcon">        
                <i class="sys-icon tasks"></i>
                <bx_text:_mz_goal_present_tasks /> - __present_tasks__
            </div>
            <div class="infoUnit infoUnitFontIcon">        
                <i class="sys-icon tasks"></i>
                <bx_text:_mz_goal_upcoming_tasks /> - __upcoming_tasks__
            </div> 
            <div class="infoUnit infoUnitFontIcon">        
                <i class="sys-icon tasks"></i>
                <bx_text:_mz_goal_completed_tasks /> - __completed_tasks__  
            </div> 
			<div class="infoUnit infoUnitFontIcon">        
                <i class="sys-icon tasks"></i>
                <bx_text:_mz_goal_failed_tasks /> - __failed_tasks__
            </div>  
        </div> 
    </div>
</div>