<div class="bx-forum-participants __float__ bx-clearfix">
<div class="bx-form-input-wrapper bx-form-input-wrapper-text" bis_skin_checked="1"><input placeholder="Search..."></div>
<br><br>

    <bx_repeat:aEntries>
	<div style="float:left;width:50%;text-align:left" class="bx-base-text-unit-title flex items-center text-left mb-1">
            <a href="javascript:void(0)" class="overflow-hidden text-base font-semibold text-gray-700 dark:text-gray-200 hover:text-gray-900 dark:hover:text-white">__app_name__</a>
			<span style="float:right;width:50%;text-align:right"> Edit | Delete </span><br>
			
        </div>
        
    </bx_repeat:aEntries>
</div>
