<div class="__style_prefix__-cnt bx-def-margin-bottom">
    <bx_repeat:profiles>
    <div class="__style_prefix__-profile bx-def-margin-sec-topbottom">
        <div class="__style_prefix__-profile-avatar bx-def-thumb-size">__profile_unit__</div>
        <div class="__style_prefix__-profile-info bx-def-thumb-size-min-height bx-def-thumb-size-left-indent bx-def-margin-thd-right">
            <!-- NOTE: Spaces after and between elements in 'profile-name' DIV are needed for better line folding -->
            <div class="__style_prefix__-profile-name">
                <a href="__profile_url__" class="__style_prefix__-profile-name" title="__profile_title__">__profile_name__</a> <br /> 
                <span class="bx-def-font-middle bx-def-font-light bx-def-font-grayed">__profile_info__</span> 
            </div>
        </div>
    </div>
    </bx_repeat:profiles>
</div>
__paginate__