.mz-goal-eoa {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-justify-content: center;
    justify-content: center;
}

.mz-goal-eoa .bx-btn {
    float: none;
}
