<div class="bx-content-description-before">__content_description_before__</div>
<div class="bx-content-description">
    <bx_if:show_image>
        <div class="bx-base-text-entity-image bx-def-margin-bottom bx-def-font-align-center">
            <img class="bx-def-border-radius-block" src="__entry_image__" />
        </div>
    </bx_if:show_image>
    <div class="bx-base-text-entity-content ms-fansonly-entity-content bx-def-constraint-list bx-def-constraint-pre bx-def-constraint-object bx-def-constraint-iframe bx-def-constraint-img">
        <div class="ms-fansonly-ec-title">
            <div class="ms-fansonly-ect-title bx-base-text-title-bages">
                <h1>__entry_title__</h1>
                <div class="bx-base-bages-container">
                    __badges__
                </div>
            </div>
        </div>
        <div class="ms-fansonly-ec-description bx-def-margin-top">__entry_text__</div>
    </div>
</div>
